<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Form</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<form method="post" action="{{ url_for('handle_staffs_form') }}">

    <div class="form-row">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>

    <div class="form-row">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
    </div>

    <input type="submit" value="Submit">
</form>


</body>
</html>
